<h1>Sell Stocks</h1>

<h2>Select Stock to Sell:</h2>

<form method = 'POST' action = '/sell'>
    <% stocks = Stock.where(user_id: @user.id) %>
    <% stocks.each do |x|%>
        <% stock = StockQuote.new(x.ticker) %>

        <input type = "radio" name = "ticker" id = <%=x.ticker%> value = <%=x.ticker%>> 
        <label for = <%=x.ticker%>> <%="#{x.ticker} (current price #{ToCurrency.format(stock.current_price)} per share)"%> </label><br>
    <% end %>
    <br>
    <input type = "SUBMIT">
</form>

<% if @selected_ticker != nil %>
    <% price = @stock.current_price %>
    <% owned_stock = Stock.find_by(ticker: @selected_ticker, user_id: @user.id) %>
    <% max = owned_stock.quantity %>

    <form method = 'POST' action = '/sell/make'>
        <label> Select shares of <%= @selected_ticker %> to sell (0 - <%= max %>):</label>
        <input type = 'NUMBER' step = '1' min = '0' max = <%= max %> name = 'quantity' value = <%=@quantity%>>
        <br>
        <br>
        <input type = 'SUBMIT'>
    </form>

    <%if @quantity != nil && @quantity != '' && @quantity != '0'%>
        <form method = 'POST' action = '/sell/confirm'>
        <label>Confirm sale of <%=@quantity%> share(s) of stock: <%=@stock.ticker%> for <%=ToCurrency.format(@total)%></label>
        <input type = 'SUBMIT' value = 'Confirm'>
        </form>
    <%end%>
<% end %>

<a href = '/main'> Main Page </a>